
body{
    background: color: #0a0a0a;
    color: #113f0c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header{
    background-color: #ffffff;
    color:rgb(1, 83, 15);
    text-align: center;
    padding: 30px 20px;
    border-bottom: solid #124610;
}

header .logo{
    max-width: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    margin: 0;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header p{
    color: #000000;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 5px;
}
main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}   


main section{
    background-color: #357e35;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-left: solid #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}   

main section h2{
    color: #9ee1b8;
    margin-top: 0;
    border-bottom: 1px solid #18d81c;
    padding-bottom: 10px;
}  


main section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 4px;
}

footer ul{
    list-style-type: none;
    color: #cccccc;
    padding-left: 20px;
}

footer ul li{
    margin-bottom: 10px;
}


footer{
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #555555;
    font-size: 0.9rem;
    border-top: 1px solid #333;
    margin-top: 50px;
}

#carouselExample{
    max-width: 600px;
    margin: 40px auto;
}